body {
  background-color: #fbcfcf;
  color: #000;
  font-family: sans-serif;
  line-height: 2;
  text-align: center;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-rows: 100px 350px 80px;
  margin: 0 auto;
  justify-items: stretch;
}

header {
  background-color: #e3d888;
}

main {
  background-color: #e2f1af;
}

footer {
  background-color: #fbcfcf;
}
